<%- include('partials/header') -%>

<!--  -->

<header>
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between  mx-auto max-w-screen-xl">
      <a href="/profile" class="flex items-left">
        <img src="https://pbs.twimg.com/media/Fek34ErWIAERXHU?format=jpg&name=medium" class="mr-0 h-70 sm:w-80" alt="Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"><%= user.userName %></span>
      </a>
      <div class="flex items-center lg:order-2">
        <a href="/feed"
          class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Discover</a>
        <a href="/logout"
          class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-blue-800">Log Out</a>
        
      </div>
      
    </div>
  </nav>
</header>


<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</div>

<!--  -->


<div class="container">
  
  <div class="row mt-5">
      <div class="col-6">
          <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>

          </div> -->

          <div class="mt-5 pUpload">
            <h2>Add a post</h2>

            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="graybutton" value="Upload color-gray">Submit</button>
            </form>



          </div>
      </div>
      <div class="col-6">
        <ul><span</ul>
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <!-- <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>   -->
      </div>  
    </div>
  </div>
</div>


<!-- THIS IS THE FOOTER -->

<!-- <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" />
</head>



<body>
  <div class="min-30 px p-10 pt-32 h-0">
    <nav class="navbar w-full bg-white">
      <div class="container-lg px-0">
      <div class="flex w-full items-center">


        <div>
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" aria-current="page" href="/profile">
                <i class="material-icons mr-2 text-base opacity-60">article</i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="/feed">
                <i class="material-icons mr-2 text-base opacity-60">apps</i>
                <span>Feed</span>
              </a>
            </li>
            <li class="flex">
              <a class="nav-link" href="/logout">
                <i class="material-icons mr-2 text-base opacity-60">logout</i>
                <span>Log Out </span>
              </a>
            </li>
          </ul>
        
        </div>
          
  </div>
      
    </nav>
  </div>
  </div>

  

  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

</body> -->

<!-- Feels repetative 
<nav id="header" class="w-full z-30 top-10 py-1">
  <div class="w-full flex items-center justify-between mt-0 px-6 py-2">
    <label for="menu-toggle" class="cursor-pointer md:hidden block">
      <svg class="fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle">

    <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
      <nav>
        <ul class="md:flex items-center justify-between text-base text-gray-600 pt-4 md:pt-0">
          <li><a class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2"
              href="/profile">Profile</a></li>
          <li><a class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2"
              href="/feed">Discover</a></li>
          <li><a class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2"
              href="/logout">Log Out</a></li>
        </ul>
      </nav>
    </div>

    <div class="order-2 md:order-3 flex flex-wrap items-center justify-end mr-0 md:mr-4" id="nav-content">
      <div class="auth flex items-center bold color-gray w-full md:w-full">
        
      </div>
    </div>
  </div>
</nav> -->


<%- include('partials/footer') -%>