<%- include('partials/header') -%>

<!--  -->

<header>
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between  mx-auto max-w-screen-xl">
      <a href="/profile" class="flex items-left">
        <img src="https://pbs.twimg.com/media/Fek34ErWIAERXHU?format=jpg&name=medium" class="mr-0 h-70 sm:w-80" alt="Logo" />
        <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"><%= user.userName %></span> -->
      </a>
      <div class="flex items-center lg:order-2">
        <a href="/feed"
          class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Discover</a>
        <a href="/logout"
          class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-blue-800">Log Out</a>
        
      </div>
      
    </div>
  </nav>
</header>


<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</div>

<!--  -->


<div class="container">
  
  <div class="row mt-5">
      <div class="col-6">
          <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>

          </div> -->
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"><%= user.userName %></span>
          <div class="mt-5 pUpload">
            <h2>Add a post</h2>

            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="graybutton" value="Upload color-gray">Submit</button>
            </form>



          </div>
      </div>
      <div class="col-6">
        <ul><span</ul>
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <!-- <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>   -->
      </div>  
    </div>
  </div>
</div>



<%- include('partials/footer') -%>